# Copy to .env and adjust if needed
# Used for docker compose variable substitution (optional)

# Cosmos DB Emulator - connection for host machine (Functions running locally)
# COSMOS_CONNECTION_STRING=AccountEndpoint=https://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==;DisableServerCertificateValidation=True;
